{% load static i18n %}
{% if perms.dpv_documento.view_dpvdocumento %}
    <li class="{% if '/docs/' in request.path %} active show {% endif %} menu-item-has-children dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="menu-icon fa fa-files-o"></i>
            Documentos
        </a>
        <ul class="sub-menu children dropdown-menu">
            {% if perms.dpv_documento.view_dpvdocumento %}
            <li class="{% if '/docs/' in request.path %} active {% endif %}">
                <a href="{% url 'docs_index' %}"><i class="fa fa-file-text-o"></i>Documentos</a>
            </li>
            {% endif %}

        </ul>
    </li>
{% endif %}