.nav-item.overrided {
    padding-right: .5% !important;
    padding-left: .5% !important;
}
.nav-item.overrided .nav-link {
    padding: .5% !important;
}
.selectize-control.form-control {
    padding: 0 !important;
    border: 0px solid white;
}
.selectize-input.invalid {
    border-color: #dc3545;
}
div.awesomplete {
    width: 100% !important;
}
a.back-link {
    color: #4d16cb !important;
}
.modal {
    opacity: 1 !important;
    /*margin-top: 5%;*/
    padding-top: 10%;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e3e8e6;
}
.table-striped tbody tr {
    background-color: #fff;
}
.DTFC_LeftHeadWrapper table, .DTFC_RightHeadWrapper table {
    background-color: #fff;
}
ul.errorlist {
    color: #dc3545 !important;
    font-size: .8rem !important;
}
.form-group .text-danger {
    color: #dc3545 !important;
    font-size: .8rem !important;
}
.my-hidden {
    display: none !important;
    visibility: hidden !important;
}

.col-md-12.overrided-width {
    width: calc(100vw - 280px) !important;
}
@media screen and (max-width: 992px) {
    .col-md-12.overrided-width {
        width: 100% !important;
    }
}
.very-small {
    font-size: .8rem;
}
.timeline p.card-text {
    color: white !important;
}
.timeline p.card-text.fw {
    width: 100%;
}
.timeline-card {
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff6e;
    margin-bottom: .4rem;
    border-radius: 0;
}
.timeline-card::after, .timeline-card::before {
    box-sizing: border-box;
}
.timeline-card .card-header {
    position: relative;
    padding: .45rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.timeline-card .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.timeline-card .card-header .card-title {
    margin-bottom: .15rem;
}
.timeline-card p.card-text {
    margin-bottom: .4rem;
}
