{% load static i18n %}
{% if perms.dpv_quejas.view_queja or perms.dpv_quejas.view_asignaquejatecnico or perms.dpv_quejas.view_respuestaqueja %}
    <li class="{% if '/quejas/' in request.path %} active show {% endif %} menu-item-has-children dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="menu-icon fa fa-comment"></i>
            Quejas
        </a>
        <ul class="sub-menu children dropdown-menu">
            {% if perms.dpv_quejas.view_queja or perms.dpv_quejas.view_asignaquejatecnico or perms.dpv_quejas.view_respuestaqueja %}
            <li class="{% if '/quejas/' == request.path %} active {% endif %}">
                <a href="{% url 'quejas_list' %}"><i class="fa fa-comment"></i>Quejas </a>
            </li>
            {% endif %}
            {% if perms.dpv_quejas.view_damnificado %}
            <li class="{% if '/quejas/damnificados' == request.path %} active {% endif %}">
                <a href="{% url 'quejas_damnificados' %}"><i class="fa fa-user-times"></i>Damnificados </a>
            </li>
            {% endif %}
        </ul>
    </li>
{% endif %}