<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if consejopopular %}
        <form role="form" action="{% url 'consejopopular_edit' consejopopular.id %}" method="post" id="form_consejopopular">
        {% else %}
        <form role="form" action="{% url 'consejopopular_new' %}" method="post" id="form_consejopopular">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Consejo Popular</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {{ form.nombre.errors }}
                    <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
                    {{ form.nombre }}
                </div>
               <div class="form-control-sm">
                    {{ form.numero.errors }}
                    <label for="{{ form.numero.id_for_label }}">{{ form.numero.label }}</label>
                    {{ form.numero }}
                </div>
                <div class="form-control-sm">
                    {{ form.provincia.errors }}
                    <label for="{{ form.provincia.id_for_label }}">{{ form.provincia.label }}</label>
                    {{ form.provincia }}
                </div>
                <div class="form-control-sm">
                    {{ form.municipio.errors }}
                    <label for="{{ form.municipio.id_for_label }}">{{ form.municipio.label }}</label>
                    {{ form.municipio }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    {% if consejopopular %}
        var cpop_id = "{{ consejopopular.id }}";
    {% else %}
        var cpop_id = "0";
    {% endif %}
    $(document).ready(function(){
        DPVConsejoPNom.initForm();
    });
</script>