<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if lugar %}
        <form role="form" action="{% url 'lugar_edit' lugar.id %}" method="post" id="form_lugar">
        {% else %}
        <form role="form" action="{% url 'lugar_new' %}" method="post" id="form_lugar">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Red Social</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                {% for field in form  %}
                <div class="form-control-sm">
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                </div>
                {% endfor %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    {% if lugar %}
        var lugar_id = "{{ lugar.id }}";
    {% else %}
        var lugar_id = "0";
    {% endif %}
    $(document).ready(function(){
        DPVLugarNom.initForm();
    });
</script>