<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if destino %}
        <form role="form" action="{% url 'destino_edit' destino.id %}" method="post" id="form_destino">
        {% else %}
        <form role="form" action="{% url 'destino_new' %}" method="post" id="form_destino">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Destino</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {{ form.nombre.errors }}
                    <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
                    {{ form.nombre }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    {% if destino %}
     var dest_id = "{{destino.id}}";
    {% else %}
     var dest_id = "0";
    {% endif %}
    DPVDestinoNom.initForm();
</script>