<div class="modal-dialog modal-md">
    <div class="modal-content">
        {% if municipio %}
        <form role="form" action="{% url 'municipio_edit' municipio.id %}" method="post" id="form_municipio">
        {% else %}
        <form role="form" action="{% url 'municipio_new' %}" method="post" id="form_municipio">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Municipio</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {{ form.nombre.errors }}
                    <label for="{{ form.calles.id_for_label }}">{{ form.nombre.label }}</label>
                    {{ form.nombre }}
                </div>
                <div class="form-control-sm">
                    {{ form.numero.errors }}
                    <label for="{{ form.calles.id_for_label }}">{{ form.numero.label }}</label>
                    {{ form.numero }}
                </div>
                <div class="form-control-sm">
                    {{ form.provincia.errors }}
                    <label for="{{ form.calles.id_for_label }}">{{ form.provincia.label }}</label>
                    {{ form.provincia }}
                </div>
                <div class="form-control-sm">
                    <div class="form-group">
                        {{ form.calles.errors }}
                        <label for="{{ form.calles.id_for_label }}">{{ form.calles.label }}</label>
                        <span>
                            <input id="filter_calles" class="pull-right" type="text" placeholder="Filtrar por:" >
                            <label><input id="check_all_calles" type="checkbox"> Marcar todas las </label>
                        </span>
                        {{ form.calles }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>
<script>
    {% if municipio %}
     var mun_id = "{{municipio.id}}";
    {% else %}
     var mun_id = "0";
    {% endif %}
    DPVMunicipioNom.initForm();
</script>