<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if clasificacionrespuesta %}
        <form role="form" action="{% url 'clasificacionrespuesta_edit' clasificacionrespuesta.id %}" method="post" id="form_clasificacionrespuesta">
        {% else %}
        <form role="form" action="{% url 'clasificacionrespuesta_new' %}" method="post" id="form_clasificacionrespuesta">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Clasificación de Respuesta</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {{ form.codigo.errors }}
                    <label for="{{ form.codigo.id_for_label }}">{{ form.codigo.label }}</label>
                    {{ form.codigo }}
                </div>
                <div class="form-control-sm">
                    {{ form.nombre.errors }}
                    <label for="{{ form.codigo.id_for_label }}">{{ form.codigo.label }}</label>
                    {{ form.nombre }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    {% if clasificacionrespuesta %}
     var resp_id = "{{clasificacionrespuesta.id}}";
    {% else %}
     var resp_id = "0";
    {% endif %}
    DPVClassResponseNom.initForm();
</script>