<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if codificadorasunto %}
        <form role="form" action="{% url 'codificadorasunto_edit' codificadorasunto.id %}" method="post" id="form_codificadorasunto">
        {% else %}
        <form role="form" action="{% url 'codificadorasunto_new' %}" method="post" id="form_codificadorasunto">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Codificador de Asunto</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {{ form.numero.errors }}
                    <label for="{{ form.numero.id_for_label }}">{{ form.numero.label }}</label>
                    {{ form.numero }}
                </div>
                <div class="form-control-sm">
                    {{ form.nombre.errors }}
                    <label for="{{ form.numero.id_for_label }}">{{ form.numero.label }}</label>
                    {{ form.nombre }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    {% if codificadorasunto %}
     var codas_id = "{{codificadorasunto.id}}";
    {% else %}
     var codas_id = "0";
    {% endif %}
    DPVCodAsuntoNom.initForm();
</script>