<div class="modal-dialog modal-sm">
    <div class="modal-content">
        {% if tipoprocedencia %}
        <form role="form" action="{% url 'tipoprocedencia_edit' tipoprocedencia.id %}" method="post" id="form_tipoprocedencia">
        {% else %}
        <form role="form" action="{% url 'tipoprocedencia_new' %}" method="post" id="form_tipoprocedencia">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Tipo de Procedencia</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {{ form.nombre.errors }}
                    <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label }}</label>
                    {{ form.nombre }}
                </div>
                <div class="form-control-sm">
                    {{ form.cant_dias.errors }}
                    <label for="{{ form.cant_dias.id_for_label }}">{{ form.cant_dias.label }}</label>
                    {{ form.cant_dias }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    {% if tipoprocedencia %}
     var tipo_id = "{{tipoprocedencia.id}}";
    {% else %}
     var tipo_id = "0";
    {% endif %}
    DPVTipoProcNom.initForm();
</script>