<div class="modal-dialog modal-md">
    <div class="modal-content">
        {% if prensaescrita %}
        <form role="form" action="{% url 'prensaescrita_edit' prensaescrita.id %}" method="post" id="form_prensaescrita">
        {% else %}
        <form role="form" action="{% url 'prensaescrita_new' %}" method="post" id="form_prensaescrita">
        {% endif %}
            <div class="modal-header" >
                <h4 class="modal-title">Calle</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {% for field in form %}
                    <div class="form-group" data-toggle="tooltip" data-placement="top" title="{{field.help_text}}" >
                        {{field.errors}}
                        <label class="control-label mb-1" for="id_{{field.name}}">{{field.label}}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#form_prensaescrita').validate();
</script>