<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form role="form" action="{% url 'calle_new_async' %}" method="post" id="form_calle" novalidate>
            <div class="modal-header" >
                <h4 class="modal-title">Calle</h4>
                <div class="actions">
                    <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
             </div>
            <div class="modal-body">
                {% csrf_token %}
                <div class="form-control-sm">
                    {% for field in form %}
                    <div class="form-group" data-toggle="tooltip" data-placement="top" title="{{field.help_text}}" >
                        {% if field.name == 'municipios' %}
                            <span>
                                <input id="filter_municipios" class="pull-right" type="text" placeholder="Filtrar por:">
                                <label><input id="check_all_municipios" type="checkbox"> Marcar todos los </label>
                            </span>
                            {% endif %}
                        {{field.errors}}
                        <label class="control-label mb-1" for="id_{{field.name}}">{{field.label}}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                <input type="hidden" id="selected" value="{{ value }}">
                </div>
                <div class="modal-footer">
                    <button id="close_md" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="return cerrar_modal()">Cancelar</button>
                    <button id="save_more" type="button" class="btn btn-success" >Guardar y agregar otro</button>
                    <button type="submit" class="btn btn-primary" onclick="return ">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    jQuery(document).ready(function() {
        AgreeCalle.init();
    });

</script>